html, body {
    height: 100%;
}

app {
    display: block;
    height: 100%;
}

.header-logo {
    width: 200px;
    height: 40px;
    background: url('../images/Logo.png') no-repeat;
}

#blazor-error-ui {
    background: inherit;
    bottom: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100001;
}

.xafPopup.dxbs-popup {
    max-width: 98vw !important;
    height: 92vh !important;
}